
.images{
    text-align: center;
}
.images img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.original{
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    height: 500px;
}